<% layout("layouts/boilerplate") -%>
  <div class="row mt-3">
    <div class="col-8 offset-2">
       <h2>Edit your listing</h2>
      <form method="POST" action="/listings/<%=listing._id%>/edit?_method=PUT"  class="needs-validation" novalidate>
         
        <div class="mb-3">
           <label for="title"  class="form-label">Title:</label>
           <input type="text" id="title" name="listing[title]" class="form-control" value="<%= listing.title %>" required >
           <div class="invalid-feedback">
            Please Enter a valid title.
         </div>
        </div>

        <div class="mb-3">
           <label for="description" class="form-label">Description:</label>
           <textarea id="description" name="listing[description]" class="form-control"required ><%= listing.description %></textarea>
           <div class="invalid-feedback">
            Please Enter a valid description.
         </div>
        </div>

        <div class="mb-3">
           <label for="image" class="form-label">Image:</label>
           <input type="text" id="image" name="listing[image]" value="<%= listing.image.url %>"  class="form-control">
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
           <label for="price" class="form-label">Price:</label>
           <input type="number" id="price" name="listing[price]" class="form-control"required  value="<%= listing.price %>">
           <div class="invalid-feedback">
            Please Enter a valid price.
         </div>
        </div>

        <div class="mb-3 col-md-8">
           <label for="image" class="form-label">Country</label>
           <input type="text" id="country" name="listing[country]" class="form-control"required  value="<%= listing.country%>">
           <div class="invalid-feedback">
            Please Enter a valid country.
         </div>
        </div>
        </div>

        <div class="mb-3">
           <label for="location" class="form-label">Location:</label>
           <input type="text" id="location" name="listing[location]" class="form-control"required  value="<%= listing.location %>">
           <div class="invalid-feedback">
            Please Enter a valid location.
         </div>
        </div>
        <button type="submit" class="btn btn-dark edit-btn mt-3">Update</button>
        <br><br>
      </form>   
    </div>
  </div>
